table{
    width: max-content;
}

.table-head {
    height: 60px;
    color: rgb(101, 102, 102);
    background-color: rgb(241, 241, 241);
    font-size: 15px;
}

.table-head th {
    font-weight: 500;
    text-align: left;
}

table,
th,
td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding: 10px;
    
}
th:first-child ,
td:first-child {
    background: "red";
    border-right: 2px solid rgb(201, 200, 200);
}
th:last-child ,
td:last-child {
    background: "red";
    border-left: 2px solid rgb(201, 200, 200);
}